.banner {
  &__inner {
  }

  &__item {
    padding: 70px 0 110px;
    background-repeat: no-repeat;
    background-position: 70% 0%;
    background-size: cover;
    z-index: 2 !important;
    position: relative;
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(254, 254, 254, 0.2);
    }
  }

  &__item-date {
    @include regular-20;
    margin-bottom: 20px;
    color: rgba(5, 14, 12, 0.7);
  }

  &__item-title {
    @include bold-60;

    margin-bottom: 20px;
    span {
      color: $green;
    }
  }

  &__item-subtitle {
    @include medium-20-resize-17;
    margin-bottom: 55px;
  }

  &__item-btn {
  }

  &__item-inner {
    grid-column: 8 span;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.category {
  &__inner {
    padding: 60px 0;
    position: relative;
  }

  &__wrapper {
  }

  &__item {
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;

    width: 358px;
    height: 210px;

    min-width: 229px;
    min-height: 150px;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  }

  &__title-h2 {
    margin-bottom: 30px;
  }

  &__container {
    position: relative;

    &::after {
      pointer-events: none;
      z-index: 1;
      position: absolute;
      content: '';
      display: block;
      top: -1px;
      right: -1px;
      width: 261px;
      height: calc(100% + 3px);
      background: linear-gradient(
        91.2deg,
        rgba(255, 255, 255, 0) 0.95%,
        rgba(255, 255, 255, 0.9) 55.12%,
        #ffffff 98.16%
      );
    }
  }

  &__btn {
  }
}

.catalog {
  &__inner {
    padding-bottom: 30px;
  }

  &__content {
    grid-column: 9 span;
  }

  &__product-list {
    margin-bottom: 30px;
  }

  &__btn-more {
    display: block;
    margin: 0 auto;
    padding-right: 20px;
  }

  ///SORT
  &__sort {
    grid-column: 12 span;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 25px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid $brown-light;
    box-shadow: $shadow;
  }

  &__sort-title {
    @include medium-26;
  }

  &__sort-box {
    display: flex;
  }
  .label-checkbox + .label-checkbox {
    margin-top: 2px;
  }

  &__sort-select-mobile {
    flex: 1;
  }

  &__sort-box-mobile {
    display: none;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 20px;
    align-self: stretch;
  }

  &__sort-filter {
    background-color: $green;
    border: 1px solid #f9f4f5;
    box-sizing: border-box;
    border-radius: 10px;
    &::after {
      content: url(../../img/icon/filter.svg);
    }
    justify-self: flex-end;
    width: 48px;
  }

  .choices {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start;
  }

  .choices__item {
    text-align: center;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 0px;
    @include medium-15;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: #efefef;
    border-radius: 10px;
  }

  .choices__list--dropdown {
    border: 1.5px solid $green-light;

    border-radius: 10px;
    padding: 15px 20px;
  }

  .choices__list--dropdown {
    // visibility: visible;
    top: 69px;
    transition: all 0.3s;
    opacity: 0;
  }

  .is-open .is-active {
    // visibility: visible;
    opacity: 1;
  }
  .choices__list--single {
    display: inline-block;
    padding: 0px;
    width: 100%;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted::after {
    display: none !important;
  }

  .choices__inner {
    @include medium-15;

    background-color: #fff;
    border-radius: 10px;
    border: 1px solid $green;
    padding: 14px !important;
  }

  .choices::after {
    display: block;
    content: '';
    height: 5px !important;
    width: 9px !important;
    border-style: none !important;
    border-color: transparent !important;
    border-width: 0px;
    position: absolute;
    right: 15px !important;
    margin-top: 0px !important;
    transform: translateY(-50%);
    -webkit-mask-image: url(../img/icon/chevron-down-1.svg);
    mask-image: url(../img/icon/chevron-down-1.svg);
    background-color: $green;
    margin-left: 0;
  }

  ///FILTER
  &__filter {
    grid-column: 3 span;
    border-radius: 10px;
  }

  &__filter-header {
    display: none;
  }

  &__filter-item {
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
    & + & {
      border-radius: 0px;
      border-top: 1px solid $brown-light;
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__filter-range-input-box {
    display: flex;
    justify-content: space-between;
  }

  &__filter-range-slider-box {
    margin-top: 16px;
    margin-bottom: 20px;
    position: relative;
  }

  &__filter-range-slider-text {
    position: absolute;
    top: 12px;
    color: $gray;
    @include regular-11;
  }

  &__filter-range-slider-text-min {
    left: -3px;
  }

  &__filter-range-slider-text-max {
    right: -7px;
  }

  &__filter-list {
    background-color: #fff;

    box-shadow: $shadow;
    border: 1px solid $brown-light;

    border-radius: 10px;
    margin-bottom: 30px;
  }

  &__filter-head {
    border-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 25px 10px 25px;
    background-color: #fff;
    @include medium-13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      width: 9px;
      height: 5px;
      display: inline-block;
      content: '';
      background-color: $green;
      -webkit-mask: url(../img/icon/chevron-down-1.svg) no-repeat 50% 50%;
      mask: url(../img/icon/chevron-down-1.svg) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      transition: all 0.2s ease-out;
    }
    transition: all 0.3s ease-out;
    &[aria-expanded='true']::after {
      transform: rotate(180deg);
      transition: all 0.2s ease-out;
    }
  }

  &__filter-content {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding: 0px 25px 10px 25px;
    z-index: 0;
    background-color: #fff;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;
    max-height: 0px;
    &[aria-hidden='false'] {
      padding-bottom: 20px;
      visibility: visible;
      opacity: 1;
    }
  }

  &__filter-btn-box {
    display: none;
    justify-content: space-between;
  }

  &__filter-btn-apply {
    padding: 15px;
    box-shadow: $shadow;
  }

  &__filter-btn-reset {
    padding: 15px;
    box-shadow: $shadow;
  }
}
