@media (max-width: 1060px) {
  .header {
    &__inner {
      padding: 20px 0;
    }

    &__content {
      margin: 0;
      width: 100%;
      background-color: $brown-light;
      border-radius: 0px 10px 10px 0px;
      padding: 12px 20px 12px 0px;
      display: flex;
      border-radius: 10px;
    }

    &__logo {
      margin-left: 20px;
      img {
        width: 104px;
        height: 40px;
      }
    }

    &__info {
      &:nth-child(4),
      &:nth-child(3) {
        display: none;
      }

      &:nth-child(5) {
        margin: 0;
      }
    }

    &__menu-btn {
      display: flex;
    }
  }

  .grid {
    gap: 20px;
  }

  .nav {
    display: none;

    &--mobile {
      display: flex;
      flex-direction: column;
      background-color: $white;
      position: absolute;
      top: calc(100% - 20px);
      left: 0;
      z-index: 10;
      max-width: 325px;
      width: 100%;
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      border-top: 1px solid #e4f2ef;
      height: calc(100vh - 84px + 64px);
      overflow: auto;
      flex: 1;
      .nav__link {
      }
      .nav__list {
        display: block;
        height: 100%;
      }

      .nav__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }

      .nav__close-btn {
        width: 18px;
        height: 18px;
        background-image: url(../img/icon/cross.svg);
        background-size: 18px 18px;
        background-repeat: no-repeat;
      }

      .nav__box {
        // overflow: auto;
      }

      .nav__item {
        padding: 15px 20px;
        overflow: hidden;
        border-top: 1px solid #e4f2ef;
      }

      .nav__btn {
        @include medium-15;
        width: 100%;
        text-align: left;
        position: relative;
        padding: 15px 20px 0 20px;
        &::before {
          display: block;
          content: '';
          height: 6px;
          width: 11px;
          transition: all 0.2s ease-out;
          position: absolute;
          right: 20px;
          top: 75%;
          transform: translateY(-50%);
          -webkit-mask-image: url(../img/icon/chevron-down-1.svg);
          mask-image: url(../img/icon/chevron-down-1.svg);
          mask-size: 11px 6px;
          background-color: $green;
        }

        &[aria-expanded='true'] {
          transition: all 0.2s ease-out;
          &::before {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      .nav__item--submenu {
        padding: 0;
      }

      .nav__title {
        @include medium-26;
      }
    }

    &--active {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 769px) {
  .header {
    &__content {
      flex-wrap: wrap;
      justify-content: stretch;
      background-color: transparent;
      align-content: stretch;
      padding: 0;
    }

    &__logo {
      flex-basis: 50%;
      display: flex;
      order: 0;
      margin: 0;
      margin-bottom: 20px;
      img {
        width: 108px;
        height: 44px;
        margin-right: auto;
      }
    }

    &__info-link {
      align-self: flex-end;
    }

    &__info-img {
      display: none;
    }

    &__info {
      display: flex;
      justify-content: flex-end;
      &:nth-child(5) {
        flex-basis: 50%;
        order: 1;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    &__menu-btn {
      order: 2;
    }

    &__box {
      display: flex;
      order: 3;
      margin: 0;
      background-color: $brown-light;
      padding: 14px;
      padding-left: 20px;
      justify-content: flex-end;
      margin-right: -20px;
      flex: 1 0 85%;
    }

    &__menu-btn {
      background-color: $green-light;
      color: $black;
      margin: 0;
      border-radius: 0px;
      margin-left: -20px;
      min-width: 118px;
      width: auto;
    }

    &__menu-btn-burger {
      div {
        background-color: $black;
        &:nth-child(1) {
          width: 17px;
        }

        &:nth-child(2) {
          width: 13px;
        }

        &:nth-child(3) {
          width: 20px;
        }
      }

      div + div {
        margin-top: 3px;
      }
    }
  }

  .nav--mobile {
    height: calc(100vh - 134px + 64px);
  }
}

@media (max-width: 560px) {
  .header {
    &__box {
      flex: 1 0 65%;
    }

    &__btn-icon {
      & + & {
        margin-left: 22px;
      }
    }
  }

  .nav {
    &--mobile {
      max-width: 100%;
      //  height: 100vh;
    }
  }

  .overlay {
    display: none;
  }
}
